.chat{
  width: 100%;
  height: 100%;
  color: #000;
  display: flex;
  flex-direction: column;

}

.chatHeader{
  position: fixed;
  top:0;
  width: 100%;
  height: 3rem;
  line-height: 3rem;
  color: #ffffff;
  font-size: 1.5rem;
  background-color: rgba(34, 34, 34, 0.9);
  box-shadow: 0  0.25rem 0.25rem  -0.25rem rgba(34, 34, 34, 0.9);
}

.chatFooter{
  position: fixed;
  bottom:0;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  width: 100%;
  height: 3rem;
  line-height: 3rem;
  font-size: 1.2rem;
  box-sizing: border-box;
  background-color: #f3f3f3;
  box-shadow: 0  -0.25rem 0.25rem -0.25rem #e5e5e5;
  border-top: 1px solid #e5e5e5;
}

.mojiBox{
  width: 2.5rem;
  line-height: 2rem;
  text-align: center;
  margin: 0.7rem;
  box-sizing: border-box;
  background: url("../../assets/biaoqing.png") no-repeat;
  background-size: contain;
}

.textBox{
  width: 100%;
  height: 2rem;
  line-height: 2rem;
  margin: 0.5rem;
  background-color: #ffffff;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  font-size: 1.2rem;
}

.sendBtn{
  width: 5rem;
  line-height: 2rem;
  font-size: 1rem;
  box-sizing: border-box;
  text-align: center;
  margin: 0.5rem;
  color: #ffffff;
  background-color: rgba(68, 181, 73, 0.81);
  border-radius: 0.125rem;
}

.chatContent{
  flex: 1;
  overflow: auto;
  min-height: 100%;
  padding: 3rem 0;
  box-sizing: border-box;
  background-color: #f3f3f3;
}

.messageList{
  width: 100%;
}

.listItem{
  width: 100%;
  margin: 1rem 0;
  display: flex;
  flex-direction: row-reverse;
  flex-wrap: nowrap;
  justify-content: flex-end;
}

.myself{
  flex-direction: row;
}

.itemWrap{
  max-width: 70%;
}

.userName{
  text-align: left;
  height: 1rem;
  color: #b2b2b2;
  font-size: 0.8rem;
}
.itemContent{
  font-size: 1rem;
  padding: 0.5rem;
  text-align:left;
  word-break: break-word;
  border-radius: 0 0.5rem  0.5rem 0.5rem;
  background-color: #ffffff;
}
.myselfContent{
  background-color: #95ec6a;
  border-radius: 0.5rem 0  0.5rem 0.5rem;
}

.itemFace{
  width: 2rem;
  height: 2rem;
  margin: 0 0.5rem;

  img{
    width: 100%;
    height: 100%;
  }
}

.information{
  font-size: 0.8rem;
  color: #ffffff;
}

.infoBox{
  padding: 0.4rem;
  margin: 0.4rem;
  border-radius: 0.25rem;
  background-color: rgba(0,0,0,0.1);
  display: inline-block;
}
