//@import "../../common/scss/base";
//@import "../../common/scss/setOnepx";
//@import "../../common/scss/setArrow";
//@import "../../common/scss/tools";
//@import "../../common/scss/text";

.chatBox{
  position: relative;
}

.leftBar{
  float: left;
  box-sizing: border-box;
  height: 100%;
  width: 140px;
  background-color: #e5e5e5;
}
.rightContent{
  height: calc(100% - 130px);
  width: calc(100% - 140px);
  float: left;
  box-sizing: border-box;
}

.login{
  position: absolute;
  top:0;
  height: 600px;
  width: 800px;
  background-color: rgba(126, 126, 126, 0.70);
  color:#000;
 font-size: 16px;
  z-index: 99;
  text-align: center;
}

.loginBox{
  display: inline-block;
  margin: 30% 0 0 0;
  width: 300px;
  height: 300px;
  font-size: 16px;
}

.loginTip{
  padding: 6px;
}

.inputNickName{
  font-size: 16px;
  padding: 6px;
  box-sizing: border-box;
  border-radius: 3px;
  width: 180px;
  height: 34px;
  box-sizing: border-box;
}
.inputBoxButton{
  color: white;
  display: inline-block;
  margin-top: 20px;
  line-height: 34px;
  width: 180px;
  height: 34px;
  box-sizing: border-box;
  background-color: #44b549;
  border: 2px;
}
.chat{
  width: 800px;
  height: 600px;
  color: #000;
  overflow: auto;		// 清除浮动
  box-sizing: content-box;
}

.chatHeader{
  height: 50px;
  line-height: 50px;
  padding: 0 20px;
  color: #000000;
  font-size: 20px;
  background-color: rgba(229, 229, 229, 0.8);
  border: 1px solid #e5e5e5;
}

.chatFooter{
  height: 130px;
  font-size: 16px;
  box-sizing: border-box;
  background-color: #f3f3f3;
  box-shadow: 0  3px 3px -3px #e5e5e5;
  border-top: 1px solid #e5e5e5;
}

.chatFooterBar{
  width: 100%;
  height: 30px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
}

.chatFooterBox{
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
}

.mojiBox{
  width: 300px;
  height: 180px;
  margin-top: -190px;
  padding: 10px;
  box-sizing: border-box;
  background-color: rgba(176, 176, 176, 0.6);
  border: 1px solid #e5e5e5;
}

.emoji-list{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.emoji-item{
  padding: 3px;
}
.mojiBoxBtn{
  width: 20px;
  height: 20px;
  line-height: 20px;
  text-align: center;
  margin: 0 20px;
  box-sizing: border-box;
  background: url("../../assets/biaoqing.png") no-repeat;
  background-size: contain;
}

.clickable{
  background: url("../../assets/emotionDis.png") no-repeat;
  background-size: contain;
}

.imWrap{
  position: relative;
  width: 40px;
  height: 20px;
}
.imgBox{
  position: absolute;
  top: 0;
  left: 0;
  width: 40px;
  height: 20px;
  line-height: 20px;
  text-align: center;
  opacity: 0;
  z-index: 5;
}

.imageFile{
  position: absolute;
  top: 0;
  left: 0;
  width: 40px;
  height: 20px;
  z-index: 0;
  background: url('https://image.guazistatic.com/gz01190821/11/50/b7969ce858743c036c9a556e001a705c.png');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
  //background-color: blue;
}

.textBox{
  width: 100%;
  height: 80px;
  line-height: 16px;
  background-color: #ffffff;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-end;
  font-size: 16px;
  padding: 10px;
  margin: 0 10px;
}

.sendBtn{
  width: 80px;
  height: 80px;
  line-height: 80px;
  font-size: 22px;
  margin: 10px;
  box-sizing: border-box;
  text-align: center;
  color: #ffffff;
  background-color: rgba(68, 181, 73, 0.81);
  border-radius: 2px;
}

.chatContent{
  flex: 1;
  overflow: auto;
  height: 418px;
  box-sizing: border-box;
  background-color: #f3f3f3;
}

.messageList{
  width: 100%;
}

.listItem{
  width: 100%;
  margin: 1rem 0;
  display: flex;
  flex-direction: row-reverse;
  flex-wrap: nowrap;
  justify-content: flex-end;
}

.myself{
  flex-direction: row;
}

.itemWrap{
  max-width: 70%;
}

.userName{
  text-align: left;
  height: 1rem;
  color: #b2b2b2;
  font-size: 0.8rem;
}
.itemContent{
 font-size: 16px;
  padding: 0.5rem;
  text-align:left;
  word-break: break-word;
  border-radius: 0 0.5rem  0.5rem 0.5rem;
  background-color: #ffffff;
}
.myselfContent{
  background-color: #95ec6a;
  border-radius: 0.5rem 0  0.5rem 0.5rem;
}

.itemFace{
  width: 2rem;
  height: 2rem;
  margin: 0 0.5rem;

  img{
    width: 100%;
    height: 100%;
  }
}

.information{
  font-size: 12px;
  color: #ffffff;
  text-align: center;
}

.infoBox{
  padding: 0.4rem;
  margin: 0.4rem;
  border-radius: 0.25rem;
  background-color: rgba(0,0,0,0.1);
  display: inline-block;
}
